body {background-color: white; 
  color: darkgray; 
  background-image: url(background.jpg); 
  font-family: Helvetica, Arial, sans-serif;}

#wrapper {background-color: #90C7E3;
  box-shadow: 0.6em 0.6em 0.3em #888888;
  width: 80%; 
  min-width: 960px;
  margin: auto}

h1 {background-color: #000033; 
  background-image: url(sunset.jpg);
  background-repeat: no-repeat;
  background-position: right;
  color: white; 
  font-family: Georgia, "Times New Roman", serif; 
  margin-bottom: 0}

#nav {font-weight: bold; 
  padding-left: 1em;
  float: left}

#nav-items {
  font-size: 1.2em;
  margin: 0;
  list-style-type: none;
  padding-left: 0;}

a:link {color: #000033;
  text-decoration: none}

a:visited {color: #344873;
  text-decoration: none}

a:hover {color: #FFFFFF;
  text-decoration: none}

#content {margin-left: 10em}

h2 {color: #3399CC;
  text-shadow: 0.1em 0.1em #000000;
  font-family: Georgia, "Times New Roman", serif}

img {float: left;
  width: 15em;
  height: 9.4em}

#mainContent {margin-left: 16em}

.resort {color: #000033; 
  font-weight: bold}

li {list-style-position: inside}

h3 {color: #000033;
  font-family: Georgia, "Times New Roman", serif}

#contact {font-size: 90%}

#footer {font-size: 75%;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Roman, serif}

dt {font-weight: bold}

/* makes the bird flying! */
@keyframes birdFlying
{
  0%   {left: 0%;}
  50%  {left: 40%;}
  100% {left: 80%;}
}

/* Firefox */
@-moz-keyframes birdFlying
{
  0%   {left: 0%;}
  50%  {left: 40%;}
  100% {left: 80%;}
}

/* Safari and Chrome */
@-webkit-keyframes birdFlying {
  0%   {left: 0%;}
  50%  {left: 40%;}
  100% {left: 80%;}
}

#bird {width: 68px;
  height: 61px;
  position: relative;
  float: none;
  padding-right: 0;
  /* animation part */
  animation-name: birdFlying;
  animation-duration: 5s;
  animation-timing-function:linear;
  animation-delay: 1s;
  animation-direction: alternate;
  animation-play-state: running;
  /* Firefox: */
  -moz-animation-name: birdFlying;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 1s;
  -moz-animation-direction: alternate;
  -moz-animation-play-state: running;
  /* Safari and Chrome: */
  -webkit-animation-name: birdFlying;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running
}

@media only screen and (max-width: 480px) 
{
  /* For mobile phones: */
  h1 {background-image: none}
  
  #nav {float: none}
  
  #nav-items {font-size: 0.8em}
  
  li {
    display: inline;
    margin-right: 0.5em
  }
  
  #content {
    margin-left: 1em;
    max-width: 400px
  }
  
  img {display: none}
  
  #mainContent {margin-left: 1em}
}

